/*Universal Selector */
*{
	cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

/*Font Integrate */
/*(i). Local Machine Integration*/
/*(ii). Global Integration or Project Folder Integration */

/*(i). Local Machine Integration*/

/*body{
	font-family: Arial;
}*/

/*.p1{
	font-family: Century;
}
*/
.p2{
	font-family: "Times New Roman";
}

.p3{
	font-family: Century,Arial,"Times New Roman";
}

/*(ii). Global Integration */
/*at-rules */

@font-face{
	font-family: 'Stick';
	src: local('Stick-Regular') , url('./../fonts/sticks/Stick-Regular.ttf') format('woff');
}

@font-face{
	font-family: 'abc';
	src: local('AkayaKanadaka-Regular'), url('./../fonts/Akaya_Kanadaka/AkayaKanadaka-Regular.ttf') format('woff');
}

body{
  font-family: "Stick", serif;
}

.p2{
	font-family: "Stick", serif;
}

.p3{
	font-family: "Akaya Kanadaka", serif;
}

.p4{
	font-family: "Stick";

/*	font-weight: bold;*/
	font-weight: bolder;

/*	           100 to 900 */
	font-weight: 600;

	font-style: italic;

/*	text-transform: uppercase;*/
/*	text-transform: lowercase;*/
	text-transform: capitalize;

/*	Text Indentation */
    text-indent: 50px;
}

.clickme{
	text-decoration: none;
}

/*Pseudo class (:) */
.clickme:visited{
	color: violet;
}

.clickme:hover{
	color: red;
	font-size: 20px;
	text-transform: uppercase;
}

.menutext{
	font-family: 'Times New Rome';
	background-color: green;
	text-decoration: none;
	color: #fff;

/*	padding: 20px;*/

/*	         top&bottom left&right */
/*	padding: 10px 20px;*/

/*            top right bottom left */
/*	padding: 10px 20px 30px 40px;*/

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;

	border-radius: 10px;

	transition: all 5s;
/*	transition: background-color 5s;*/
/*	transition: background-color 5s ,color 2s;*/

}

.menutext:hover{
	background-color: orange;
	color: #000;
}

.imgdesign{
	width: 80px;
	height: 80px;

	cursor: pointer;

	transition: all 2s;
}

.imgdesign:hover{
	width: 100px;
	height: 100px;
}
