body{
	padding: 0;
	margin: 0;
}

.div1{
	width: 600px;
	height: 200px;
	background-color: orange;

/*	        top bottom left right */
/*	margin: 20px;*/

/*	top bottom & left right */
/*	margin: 20px 50px;*/

/*             lf / rh / bot / top */
	margin: 10px 30px 50px 100px;
}

.div2{
	width: 600px;
	height: 200px;
	background-color: orange;

	margin: 20px;
}

.div2 .bank{
	background-color: green;
	color: #fff;

	display: block;
}

.div2 .coin{
	background-color: green;
	color: #fff;

	display: block;
}

.display1{
	width: 300px;
	height: 100px;
	background-color: silver;
	border: 2px solid orange;

/*            0 to 1 */
/*    element true / spacing false */
/*	opacity: 0.5;*/
/*	opacity: .5;*/
/*	opacity: 0;*/

/*	visibility: hidden;*/
/*	visibility: visible;*/

/*              0 to 1 */
/*    element true / spacing false*/
/*	transform: scale(0);*/

/*block flex inline-block */
/*	     element: true / spacing true*/
/*	display: none;*/


}

.display2{
	width: 300px;
	height: 100px;
	background-color: orange;
	border: 2px solid silver;
}




