body{
	font-family: sans-serif;
	background-color: #f4f4f4;
	height:100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.form-control,.btn{
	padding: 10px;
}

.game span{
	display: block;
	margin-top: 5px;
}